body {
    margin: 0;
}

.border {
    position: absolute;
    width: 12.5%;
    height: 100%;
    top: 0;
    background-color: #000000;
    overflow: hidden;
}
.border.p1 {left: 0;}
.border.p2 {right: 0; transform: scaleX(-1);}

.charnamebanner {
    position: absolute;
    width: 128px;
    height: 1536px;
    background-image: url("assets/name_banner.png");
    transition: transform 0.5s;
    right: 0;
    transform: translateY(-384px);
}
.charnamebanner.selected {transform: translateY(0px);}

.charname {
    position: absolute;
    width: 48px;
    height: 512px;
    bottom: 512px;
    right: 0;
}
.charname.p2 {transform: scaleX(-1);}

.charmug {
    position: absolute;
    width: 900px;
    height: 1024px;
    bottom: 0;
    transition: transform 0.5s;
    transform: translateX(-900px);
}
.charmug.partner {transition: transform 0.6s;}
.charmug.selected {transform: translateX(0px);}

.heat {
    position: absolute;
    width: 900px;
    height: 1024px;
    bottom: 0;
    filter: brightness(0);
}

.heat.p2 {z-index: -1;}

.heat.heatmode {animation: 0.5s linear 0s infinite running heat; color: #6A00FF;}
.heat.bloodheatmode {animation: 0.5s linear 0s infinite running heat; color: #FFFD78;}

@keyframes heat {
    from {
        filter: brightness(0)
            /* Top */
            drop-shadow(-1px -1px 0px)
            drop-shadow( 0px -1px 0px)
            drop-shadow( 1px -1px 0px)

            /* Middle */
            drop-shadow(-1px  0px 0px)
            drop-shadow( 1px  0px 0px)

            /* Bottom */
            drop-shadow(-1px  1px 0px)
            drop-shadow( 0px  1px 0px)
            drop-shadow( 1px  1px 0px)

            opacity(100%);
    }

    to {
        filter: brightness(0)
            /* Top */
            drop-shadow(-10px -10px 0px)
            drop-shadow(  0px -10px 0px)
            drop-shadow( 10px -10px 0px)

            /* Middle */
            drop-shadow(-10px   0px 0px)
            drop-shadow( 10px   0px 0px)

            /* Bottom */
            drop-shadow(-10px  10px 0px)
            drop-shadow(  0px  10px 0px)
            drop-shadow( 10px  10px 0px)

            opacity(0%);
    }
}

.charmoon {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 0;
    right: 0;
    background-image: none;
    filter: drop-shadow(0px 0px 8px white);
    transition: filter 0.5s;
}
.charmoon.selected {filter: drop-shadow(0px 0px 0px white);}
.charmoon.p2 {transform: scaleX(-1);}
